{% extends 'baseportal.html' %}

{% block content %}

{% if request.user.is_teacher or request.user.is_superuser %}
<h4> My Students Results </h4>
<ul style='list-style-type: none; padding-left: 0px'>
    {% for myc in pyt %}
    <li><a href='{% url "studentclasses2"  myc.pk %}'> {{myc.username}}</a></li> 

{% endfor %}
</ul>

{% else %}
<p style='color: red; font-size: 1em; text-align: center;padding: 3em;'> <b> Back off! You are not permitted to be here!! </b></p>
{% endif %}
{% endblock %}


